@using ActionCommandGame.Model
@model Player
@{
    ViewData["Title"] = "Create Player";
}

<h1>@ViewData["Title"]</h1>


<form method="post">
    <partial name="Players/CreateEditPartial" model="Model"/>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
