@using ActionCommandGame.Model
@model Player

<div asp-validation-summary="ModelOnly"></div>

<div class="mb-3">
    <label class="whiteletter" asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name"></span>
</div>
<div class="mb-3">
    <label class="whiteletter" asp-for="Money" class="form-label"></label>
    <textarea asp-for="Money" class="form-control"></textarea>
    <span asp-validation-for="Money"></span>
</div>
<div class="mb-3">
    <label class="whiteletter" asp-for="Experience" class="form-label"></label>
    <input asp-for="Experience" class="form-control" />
    <span asp-validation-for="Experience"></span>
</div>
<div class="mb-3">
    <label class="whiteletter" asp-for="LastActionExecutedDateTime" class="form-label"></label>
    <input asp-for="LastActionExecutedDateTime" class="form-control" />
    <span asp-validation-for="LastActionExecutedDateTime"></span>
</div>
<div class="mb-3">
    <label class="whiteletter" asp-for="CurrentFuelPlayerItemId" class="form-label"></label>
    <input asp-for="CurrentFuelPlayerItemId" class="form-control" />
    <span asp-validation-for="CurrentFuelPlayerItemId"></span>
</div>
<div class="mb-3">
    <label class="whiteletter" asp-for="CurrentAttackPlayerItemId" class="form-label"></label>
    <input asp-for="CurrentAttackPlayerItemId" class="form-control" />
    <span asp-validation-for="CurrentAttackPlayerItemId"></span>
</div>
<div class="mb-3">
    <label class="whiteletter" asp-for="CurrentDefensePlayerItemId" class="form-label"></label>
    <input asp-for="CurrentDefensePlayerItemId" class="form-control" />
    <span asp-validation-for="CurrentDefensePlayerItemId"></span>
</div>
