@{
    ViewData["Title"] = "ACCESS DENIED";
}

<a asp-controller="Home" asp-action="Index"><img id="homelogo" src="~/img/homeW.png" alt="homeLogo" /></a>
<div id="denied">
<h1>@ViewData["Title"]</h1>
<a asp-controller="Home" asp-action="Index"><h2>Press here to go back home</h2></a>
</div>