@using ActionCommandGame.Model
@model Item

<div asp-validation-summary="ModelOnly"></div>

<div class="mb-3">
    <label class="whiteletter" asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name"></span>
</div>
<div class="mb-3">
    <label class="whiteletter" asp-for="Description" class="form-label"></label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description"></span>
</div>
<div class="mb-3">
    <label class="whiteletter" asp-for="Price" class="form-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price"></span>
</div>
<div class="mb-3">
    <label class="whiteletter" asp-for="Fuel" class="form-label"></label>
    <input asp-for="Fuel" class="form-control" />
    <span asp-validation-for="Fuel"></span>
</div>
<div class="mb-3">
    <label class="whiteletter" asp-for="Attack" class="form-label"></label>
    <input asp-for="Attack" class="form-control" />
    <span asp-validation-for="Attack"></span>
</div>
<div class="mb-3">
    <label class="whiteletter" asp-for="Defense" class="form-label"></label>
    <input asp-for="Defense" class="form-control" />
    <span asp-validation-for="Defense"></span>
</div>
<div class="mb-3">
    <label class="whiteletter" asp-for="ActionCooldownSeconds" class="form-label"></label>
    <input asp-for="ActionCooldownSeconds" class="form-control" />
    <span asp-validation-for="ActionCooldownSeconds"></span>
</div>